# dataset
DATASET_GOOGLE_DRIVE_ID=XXXXXXXXXXXX-XXXXXXX-XXXXXXXXXXXX

# app
API_HOST=XXX.XXX.XXX.XXX
API_PORT=8080
DOCKER_IMAGE_NAME=pomelo-backend
DOCKER_CONTAINER_NAME=pomelo-backend
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
HOST_PORT=8080
MODEL_WEIGHTS=models\outputs\effb0svm_20251102132034\weights
POMELO_ENHANCER_SCRIPT=pomelo_enhancer\pomelo_enhancer_v1_3.py

# class_csv_generator
CLASS_CSV_GENERATOR_INPUT_FOLDER=images\processed
CLASS_CSV_GENERATOR_INPUT_CSV=tracker\class_csv_generator.csv

# preclassifier
PRECLASSIFIER_INPUT_FOLDER=images\processed\unlabeled
PRECLASSIFIER_OUTPUT_FOLDER=images\preclassified

# enhancer
POMELO_IMAGE_ENHANCER_INPUT_FOLDER=images\processed
POMELO_IMAGE_ENHANCER_OUTPUT_FOLDER=images\enhanced
